__pycache__/
*.py[cod]
*$py.class


*.sarif
*.pyc

*.png

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# codeql
queries/
amarna.db/

# sarif viewer
*.sarif.notes